<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.OrderMapper">
	
	<insert id="order" parameterType="order">
		INSERT INTO practice.order VALUES (NOW(), #{toyNo}, #{shopNo}, #{customerName}, NULL)
	</insert>
	
	<select id="show" resultMap="orderShopToy" parameterType="order">
		SELECT ORDER_DATE, TOY_NO, SHOP_NO, CUSTOMER_NAME, ORDER_NO FROM practice.order WHERE CUSTOMER_NAME = #{customerName}
	</select>
	
	<resultMap id="orderShopToy" type="order" >
		<id column="ORDER_DATE" property="orderDate" />
		<result column="CUSTOMER_NAME" property="customerName" />
		<result column="TOY_NO" property="toyNo" />
		<result column="SHOP_NO" property="shopNo" />
		<association select="selectShop" column="{shopNo=SHOP_NO}" property="shop" />
		<association select="selectToy" column="{toyNo=TOY_NO}" property="toy" />
	</resultMap>
	
	<select id="selectShop" parameterType="shop" resultType="shop">
		SELECT SHOP_NAME FROM shop WHERE SHOP_NO = #{shopNo}
	</select>
	
	<select id="selectToy" parameterType="toy" resultType="toy">
		SELECT TOY_NAME FROM toy WHERE TOY_NO = #{toyNo}
	</select>
	
	<delete id="cancel">
		DELETE FROM practice.order 
		WHERE ORDER_NO=#{orderNo}
	</delete>
</mapper>