<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mybatis.ShopMapper">
	
	<insert id="register" parameterType="shop">
		INSERT INTO shop VALUES (#{shopNo}, #{shopName}, #{shopLocation}, #{shopStatus})
	</insert>
		
	<select id="shopList" parameterType="shop" resultMap="shopJoinToy">
		SELECT S.SHOP_NO, TOY_NO, TOY_NAME, SHOP_NAME, SHOP_LOCATION
		FROM SHOP S LEFT JOIN TOY T on S.SHOP_NO = T.SHOP_NO
		<where>
			<if test="shopLocation!=null and shopLocation!=''">
				AND SHOP_LOCATION = #{shopLocation}
			</if>
		</where>
	</select>
	
	<resultMap id="shopJoinToy" type="shop">
		<id column="SHOP_NO" property="shopNo" />
		<result column="SHOP_NAME" property="shopName" />
		<result column="SHOP_LOCATION" property="shopLocation" />
		<collection resultMap="toyResultMap" property="toys" javaType="java.util.ArrayList" ofType="toy" />
	</resultMap>
	
	<resultMap id="toyResultMap" type="toy">
		<id column="TOY_NO" property="toyNo" />
		<result column="TOY_NAME" property="toyName" />
	</resultMap>
</mapper>